<br>

<br>
<div class="container">
  <h1>Log in</h1>
  <div class="w-25 border border-secondary mt-3 p-3 rounded">
    <%= form_tag login_path do |f| %>
      <%= label_tag :name, nil, class: 'label' %>
      <%= text_field_tag :name, nil, class: 'input form-control my-2' %>
      <%= submit_tag "Sign in", class: 'btn btn-success my-2'%>
    <%end%>
  </div>
</div>