@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
$main-color: #3778c2;
$second-color: #5fb523;
$text-color: #434b54;

body {
  background-color: #fff;
  color: #333;
  margin: 0;
}
