<div class="habits">
  <%= render 'common_share/navbar' %>
  <br>
  <h1 class="nav-title pt-5">External Habits</h1>
 
  <%= render 'habit_list_external', {habits: @habits}  %>

  <%= link_to raw("<span>New Habit</span>"), new_habit_path, method: 'get', class: 'new-btn' %>
</div>