<div>  
  <div>
    <h1>EXTERNAL HABITS</h1>
    <%= link_to "Back", user_path(User.find(session[:user_id])) %>
    <%= link_to "Log Out", logout_path, method: :delete %></li>
  </div>

  <%= render 'external_habit_list', {habits: @habits, total_habits: @total_habits}  %> 

  <%= button_to "New habit", new_habit_path, method: 'get' %>
</div>