<div class="habits">  
  <%= render 'common_share/navbar' %>
  <div class="pt-5">
  <h4 class="nav-title">My Total Habits:</h4><p><%="#{total_hours} hours"%></p>
  <% total_hours %>
  </div>

  <%= render 'external_habit_list', {habits: @habits}  %> 

  <%= link_to raw("<span>New Habit</span>"), new_habit_path, method: 'get', class: 'new-btn' %>
</div>
