<div class="habits">  
  <%= render 'common_share/navbar' %>
  <br>
  <h4 class="nav-title pt-5">My Total Habits:</h4><p><%="#{total_hours} hours"%></p>
  <% total_hours %>

  <%= render 'external_habit_list', {habits: @habits}  %> 

  <%= link_to raw("<span>New Habit</span>"), new_habit_path, method: 'get', class: 'new-btn' %>
</div>
