<div>  
  <div>
    <h1>MY HABITS</h1>
    <%= link_to "Back", user_path(current_user) %>
    <%= link_to "Log Out", logout_path, method: :delete %></li>
  </div>

  <%= render 'external_habit_list', {habits: @habits}  %> 

  <%= button_to "New habit", new_habit_path, method: 'get' %>
</div>
